*{
    margin: 0;
    padding: 0;
}

:root {
    --Amarillo-Principal: #f5cb00;
    --Amarillo-Secundario: #e9c919;
    --Gris: #e6e6e6;
}

.header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Amarillo-Principal);
}

.logo{
    width: 40%;
    display: flex;
    justify-content: flex-start;
}

.options{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 8%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section1{
    width: 100%;
    height: 100vh;
    display: flex;
}

.img_meeting{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    img{
        width: 70%;
    }
}

.text_meeting{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .text_meeting_1{
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5%;
    }
    h1{
        width: 35%;
        font-size: 50px;
        font-weight: 600;
        font-family: 'Oswald', sans-serif;
    }p{
        width: 60%;
        font-size: 20px;
    }button{
        padding: 5px 20px 5px 20px;
    }
}

.section2 {
    position: absolute;
    left: 50%;
    width: 65%;
    transform: translate(-50%, -50%);
    background: rgb(230, 230, 230);
    padding: 20px 40px;
    z-index: 10;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 45%;
    justify-content: space-between;
    align-items: center;
    h1{
        font-family: 'Oswald', sans-serif;
        color: rgb(245, 203, 0);
        font-weight: 500;
        font-size: 50px;
        width: 30%;
    }a{
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
}